head {
  font-weight: bold;
  text-align: center;
}

body {
  background-color: #75f077;
  font-family: "Times New Roman", Times, serif;
}
.image1 {
  width: 550px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 10px;
}

div.header1 {
  font-weight: bold;
  text-align: center;
  font-size: 60px;
}

div.header2 {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
}
div.header3 {
  font-weight: bold;
  text-align: center;
  font-size: 60px;
}
div.header4 {
  font-weight: bold;
  text-align: center;
  font-size: 60px;
}
div.header5 {
  font-weight: bold;
  text-align: center;
  font-size: 60px;
}
div.header6 {
  font-weight: bold;
  text-align: center;
  font-size: 60px;
}

.image2 {
  width: 150px;
  margin-bottom: 10px;
  position: relative;
  bottom: 0%;
  right: 0%;
  margin: 0;
}
.button {
  background-color: #d93434;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 16px;
  font-family: inherit;
  margin-right: 10px;
}
.button-container {
  text-align: center; /* Optional: Center the buttons horizontally */
}
.imagecaption1 {
  text-align: center;
}

.separator {
  border-top: 1px solid #000; /* Adjust the color and style as needed */
  margin-top: 20px; /* Adjust the margin to control the space between the separator and the content above */
}

.mid-section {
  padding: 20px;
}
.bottom-section {
  padding: 20px;
}
.best-viewed {
  display: block; /* Make the span a block-level element */
  margin-bottom: 10px; /* Add space between the text and the image */
  /* Add other text styles as needed */
}

.end-section {
  text-align: center; /* Center the content horizontally */
  margin-top: 20px; /* Add space between sections */
}
